In [1]:
import math
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d

In [6]:
# load the data and pre-process
df = pd.read_csv("Q1_data.csv")
df

                       ts user_id country_id site_id
0     2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1     2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2     2019-02-01 00:21:50  LC3500        TL6   N0OTG
3     2019-02-01 00:22:50  LC374F        TL6   N0OTG
4     2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
...                   ...     ...        ...     ...
3548  2019-02-07 23:56:57  LC3F13        TL6   QGO3G
3549  2019-02-07 23:58:36  LC3842        HVQ   3POLC
3550  2019-02-07 23:58:56  LC35EB        TL6   QGO3G
3551  2019-02-07 23:59:19  LC3842        HVQ   3POLC
3552  2019-02-07 23:59:37  LC3842        HVQ   3POLC

[3553 rows x 4 columns]

In [19]:
# Question 1
df_q1 = df.sort_values('ts')
df_q1 = df[df_q1['country_id'] == 'BDV']
unique_sites = pd.unique(df_q1['site_id'])
for site in unique_sites:
    print(site)
    temp = df_q1[df_q1['site_id'] == str(site)]
    print(len(pd.unique(temp['user_id'])))

N0OTG
90
5NPAU
544
3POLC
2

/home/sumin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
# Question 2
df_q2 = df[df['ts'] > '2019-02-03 00:00:00']
df_q2 = df_q2[df_q2['ts'] < '2019-02-04 23:59:59']
users = pd.unique(df_q2['user_id'])
sites = pd.unique(df_q2['site_id'])
for user in users:
    temp = df_q2[df_q2['user_id'] == str(user)]
    for site in sites:
        times = len(temp[temp['site_id'] == str(site)])
        if times > 10:
            print(user)
            print(site)
            print(times)

LC3C7E
3POLC
15
LC3A59
N0OTG
26
LC06C3
N0OTG
25
LC3C9D
N0OTG
17

In [54]:
# Question 3
df_q3 = df.sort_values('ts')
last_sites = []
users = pd.unique(df_q3['user_id'])
for user in users:
    temp = df_q3[df_q3['user_id'] == user]
    last_sites += [temp['site_id'].iloc[-1]]
last_site_dic = {}
for site in last_sites:
    if site in last_site_dic:
        last_site_dic[site] += 1
    else:
        last_site_dic[site] = 1
print(last_site_dic)

{'N0OTG': 561, 'QGO3G': 289, '5NPAU': 992, 'GVOFK': 42, '3POLC': 28, 'RT9Z6': 2, 'JSUUP': 1, 'EUZ/Q': 1}

In [56]:
# Question 4
df_q4 = df.sort_values('ts')
first_sites = []
last_sites = []
users = pd.unique(df_q4['user_id'])
for user in users:
    temp = df_q4[df_q4['user_id'] == user]
    first_sites += [temp['site_id'].iloc[0]]
    last_sites += [temp['site_id'].iloc[-1]]
count = 0
for i in range(len(first_sites)):
    if first_sites[i] == last_sites[i]:
        count += 1
print(count)

1670